<%# Notice displayed when the import process finishes successfully %>
<div id="import-process-success" class="row-fluid hidden bottom-alert">
  <div class="span10 offset2 alert alert-success">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.finish_success' %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
</div>

<%# Notice displayed when the import process finishes with an error %>
<div id="import-process-error" class="row-fluid hidden bottom-alert">
  <div class="span10 offset2 alert alert-error">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.finish_error' %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
</div>

<%# Alert displayed when there is a problem getting the import process status %>
<div id="problem-updating-import-status" class="row-fluid hidden bottom-alert">
  <div class="span10 offset2 alert alert-error">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.problem_updating' %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
</div>
