<div class="row-fluid buttonbar">
  <div class="span3">
    <a id="add-subscription" class="btn btn-inverse" data-target="#subscribe-feed-popup" data-toggle="modal">
      <i class="icon-plus"></i> <%= t 'feeds.index.subscribe_button' %>
    </a>
  </div>

  <div class="span2">
    <a id="refresh-feed" class="btn btn-primary disabled hidden" data-refresh-feed>
      <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
    </a>
  </div>

  <div class="span2">
    <div class="btn-group" id="folder-management-dropdown">
      <a id="folder-management" class="btn dropdown-toggle disabled hidden" data-toggle="dropdown">
        <i class="icon-folder-open"></i> <%= t 'feeds.index.folder_management' %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a data-folder-remove-path="<%= folder_remove_path %>" data-folder-id="none" data-feed-id>
            <i class="hidden icon-ok"></i>&nbsp;
            <%= t 'feeds.index.folder_none' %>
          </a>
        </li>
        <li class="divider"></li>
        <% current_user.folders.each do |folder| %>

          <%= render 'feeds/dropdown_folder', folder: folder %>

        <% end %>
        <li class="divider"></li>
        <li>
          <a data-new-folder-path="<%= folders_path format: :json %>" data-folder-id="new" data-feed-id>
            <i class="icon-plus"></i> <%= t 'feeds.index.folder_new' %>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="span2">
    <a id="unsubscribe-feed" class="btn btn-danger disabled hidden" data-unsubscribe-feed data-unsubscribe-path>
      <i class="icon-remove-sign"></i> <%= t 'feeds.index.unsubscribe' %>
    </a>
  </div>

</div>
<hr>