<li>
  <a data-sidebar-feed
     data-feed-id="<%= feed.id %>"
     data-feed-path="/feeds/<%= feed.id %>"
     data-refresh-path="<%= feed_refresh_path feed %>"
     data-feed-title="<%= feed.title %>"
     data-feed-url="<%= feed.url %>"
     <% if feed.user_folder(current_user).present? %>
      data-folder-id="<%= feed.user_folder current_user %>"
    <% else %>
      data-folder-id="none"
     <% end %>
  >
    <i class="icon-rss"></i> <%= feed.title %> <i class="icon-spinner hidden"></i>
  </a>
</li>