<li>
  <a data-feed-id="feed-<%= feed.id %>" data-feed-path="/feeds/<%= feed.id %>" data-feed-title="<%= feed.title %>" data-feed-url="<%= feed.url %>">
    <i class="icon-rss"></i> <%= feed.title %> <i class="icon-spinner hidden"></i>
  </a>
</li>