<ul class="nav nav-list">
  <li><a data-feed><i class="icon-rss"></i> <%= t 'feeds.index.all_entries' %></a></li>
</ul>

<hr>

<ul class="nav nav-tabs nav-stacked">
  <li>
    <a data-toggle="collapse" data-target="#all" class="menu-level1">
      <i class="folder icon-folder-close-alt"></i> <%= t 'feeds.index.all_feeds' %><i class="arrow icon-chevron-right pull-right"></i>
    </a>
    <ul class="nav nav-list collapse" id="all">
      <li><a data-feed><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li><a data-feed><i class="icon-rss"></i> XKCD</a></li>
      <li><a data-feed><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>
  <li>
    <a data-toggle="collapse" data-target="#tech" class="menu-level1">
      <i class="folder icon-folder-close-alt"></i> Tech<i class="arrow icon-chevron-right pull-right"></i>
    </a>
    <ul class="nav nav-list collapse" id="tech">
      <li><a data-feed><i class="icon-rss"></i><em> <%= t 'feeds.index.all_feeds_in_folder' %></em></a></li>
      <li><a data-feed><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li><a data-feed><i class="icon-rss"></i> XKCD</a></li>
      <li><a data-feed><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

  <li>
    <a data-toggle="collapse" data-target="#webcomics" class="menu-level1">
      <i class="folder icon-folder-open-alt"></i> Webcomics<i class="arrow icon-chevron-down pull-right"></i>
    </a>
    <ul class="nav nav-list collapse in" id="webcomics">
      <li><a data-feed><i class="icon-rss"></i><em> <%= t 'feeds.index.all_feeds_in_folder' %></em></a></li>
      <li><a data-feed><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li class="active"><a data-feed><i class="icon-rss"></i> XKCD</a></li>
      <li><a data-feed><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

  <li>
    <a data-toggle="collapse" data-target="#politics" class="menu-level1">
      <i class="folder icon-folder-close-alt"></i> Politics<i class="arrow icon-chevron-right pull-right"></i>
    </a>
    <ul class="nav nav-list collapse" id="politics">
      <li><a data-feed><i class="icon-rss"></i><em> <%= t 'feeds.index.all_feeds_in_folder' %></em></a></li>
      <li><a data-feed><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li ><a data-feed><i class="icon-rss"></i> XKCD</a></li>
      <li><a data-feed><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

</ul>