<li id="folder-<%= folder_id %>">

  <%# Link to open the folder (initialy it's closed) %>
  <a data-toggle="collapse" data-target="#feeds-<%= folder_id %>" class="menu-level1">
    <i class="folder icon-folder-close-alt"></i> <%= title %><i class="arrow icon-chevron-right pull-right"></i>
  </a>

  <%# Content of the folder (initially hidden) %>
  <ul class="nav nav-list collapse" id="feeds-<%= folder_id %>">

    <%# Link to read all feeds in the folder in a single list of entries %>
    <li id="folder-<%= folder_id %>-all-feeds">
    <a data-feed-path="/folders/<%= folder_id %>" data-feed-title="<%= t 'feeds.index.all_entries' %>">
      <em><strong><i class="icon-rss"></i> <%= t 'feeds.index.all_entries' %></strong></em> <i class="icon-spinner hidden"></i>
    </a>
</li>

    <%# Links to read each individual feed in the folder %>
    <% feeds.all(order: 'title ASC').each do |feed| %>
      <%= render 'feeds/sidebar_feed', feed: feed %>
    <% end %>
  </ul>
</li>