<div id="start-info">

  <div class="row">
    <div class="2">
      <img src="/assets/feed128x128.png">
    </div>

    <div class="10">
      <h1>
        <%= t 'start.welcome' %>
        <p>
          <small>
            <%= t 'start.stats', feeds: user.feeds.count, entries: user.unread_entries %>
          </small>
        </p>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="8">
      <hr>
      <p class="lead">
        <i class="icon-arrow-left icon-large"></i>
        <%= t 'start.read' %>
      </p>
      <hr>
    </div>
  </div>

  <div id="import-process-status" class="row">

    <%= render 'data_imports/import', user: user %>

  </div>

  <div class="row">
    <div class="8">
      <p><%#= t 'start.export_html' %></p>
    </div>
  </div>

  <div class="row">
    <div class="8">
      <hr>

      <p>
        <i class="icon-github icon-large"></i>
        <%= t 'start.github_html', github_url: 'https://github.com/amatriain/feedbunch' %>
      </p>
    </div>
  </div>

</div>