<%= render 'feeds/subscribe_form' %>

<%= render 'feeds/unsubscribe_confirm' %>

<%= render 'feeds/new_folder_form' %>

<%= render 'feeds/alerts' %>

<%= render 'feeds/buttonbar' %>

<div class="row-fluid">

  <div class="span3">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">

    <div class="hidden" id="feed-title">
      <strong class="lead">
        <a target="_blank"></a>
      </strong>
      <hr>
    </div>

    <div id="loading" class="offset1 hidden"><%= t '.loading' %></div>

    <div id="start-info">PLACEHOLDER TEXT</div>

    <ul class="nav nav-tabs nav-stacked hidden" id="feed-entries"></ul>

  </div>
</div>