<div class="row-fluid buttonbar">
  <div class="span3">

  </div>

  <div class="span9">
    <a class="btn btn-primary" data-refresh-feed><i class="icon-repeat"></i> <%= t '.refresh' %></a>
  </div>
</div>
<hr>

<div class="row-fluid">

  <div class="span3">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">
    <%# TODO make the "feed" variable dynamically use the currently selected feed %>
    <% feed = @feeds.first %>
    <% if feed.present? %>
      <div>
        <strong class="lead" id="feed-title">
          <%= sanitize link_to(feed.title, feed.url, target: '_blank') %>
        </strong>
        <hr>

        <ul class="nav nav-tabs nav-stacked" id="feed-entries">
          <% feed.entries.all(order: 'published DESC').each do |entry| %>
            <% item_id = "item#{(Random.rand * 100000000).round}" %>
            <li>
              <a data-toggle="collapse" data-target="#<%= item_id %>" class="feed-entry">
                <%= sanitize entry.title %>
                <span class="pull-right"><%= l entry.published, format: :short %></span>
              </a>

              <div class="collapse" id="<%= item_id %>">
                <div class="item-content">
                  <p class="lead">
                    <%= sanitize link_to(entry.title, entry.url, target: '_blank') %>
                    <span class="pull-right">
                      <%= sanitize link_to(content_tag(:i, '', class: 'icon-external-link'),
                                           entry.url,
                                           target: '_blank',
                                           title: t('.open_new_tab'),
                                           alt: t('.open_new_tab')) %>
                    </span>
                  </p>

                  <p class="hidden"><%= sanitize entry.guid %></p>
                  <%= sanitize entry.summary %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>