<div class="row-fluid">

  <div class="span2">
    <%= render 'sidebar' %>
  </div>

 <div class="span10">
    <%# TODO make the "feed" variable dynamically use the currently selected feed %>
    <% feed = Feed.first %>
    <% if feed.present? %>
      <div class="page-header">
        <h1><%= feed.title %></h1>
      </div>

      <ul class="nav nav-tabs nav-stacked">
        <% feed.entries.each do |entry| %>
          <% item_id = "item#{(Random.rand * 100000000).round}" %>
          <li>
            <a href="#" data-toggle="collapse" data-target="#<%= item_id %>">
              <%= entry.title %>
              <span class="pull-right"><%= l entry.published, format: :short %></span>
            </a>

            <div class="collapse" id="<%= item_id %>">
              <div class="item-content">
                <p class="lead">
                  <%= link_to entry.title, entry.url, target: '_blank' %>
                  <span class="pull-right"><%= link_to entry.url, target: '_blank', title: t('.open_new_tab'), alt: t('.open_new_tab') do %><i class="icon-external-link"></i><% end %></span>
                </p>

                <p class="hidden"><%= entry.entry_id %></p>
                <%= raw entry.summary %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
