<%= render 'feeds/popups/subscribe_form' %>

<%= render 'feeds/popups/unsubscribe_confirm' %>

<%= render 'feeds/popups/new_folder_form' %>

<%= render 'feeds/alerts' %>

<%= render 'feeds/buttonbar/buttonbar' %>

<div class="row-fluid">

  <div class="span3">
    <%= render 'feeds/sidebar/sidebar' %>
  </div>

  <div class="span9">

    <div class="hidden" id="feed-title">
      <strong class="lead">
        <a target="_blank"></a>
      </strong>
      <hr>
    </div>

    <div id="loading" class="offset1 hidden"><%= t '.loading' %></div>

    <%= render 'start', user: @user %>

    <ul class="nav nav-tabs nav-stacked hidden" id="feed-entries"></ul>

  </div>
</div>