<% content_for :heading do %>
  Openreader - <%= t 'devise.views.resend_confirmation' %>
<% end %>


<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_confirmation_path,
                          html: {:method => :post, class: 'form-horizontal'},
                          wrapper: :prepend do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>

        <div class="form-actions">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
            <i class="icon-share-alt"></i> <%= t 'devise.views.resend_confirmation' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
