<div id="data-import-popup" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3><%= t 'layouts.popups.import_subscriptions.title' %></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          <div class="row">
            <div class="hidden-xs col-sm-2">
              <i class="import-popup-info fa fa-info-circle fa-4x"></i>
            </div>
            <div class="col-xs-12 col-sm-10">
              <p><%= t 'layouts.popups.import_subscriptions.help_1' %></p>
              <p><%= t 'layouts.popups.import_subscriptions.help_2' %></p>
            </div>
          </div>
        </div>
        <hr>

        <%= simple_form_for :data_import, url: api_data_imports_path, multipart: true,
                            html: {:method => :post, id: 'form-data-import'} do |f| %>
          <%= f.input :file, as: :file, required: false %>
          <div class="modal-footer">
            <button id="data-import-cancel" class="btn btn-default" data-dismiss="modal" ><%= t 'layouts.popups.import_subscriptions.close' %></button>
            <button id="data-import-submit" class="btn btn-primary"><%= t 'layouts.popups.import_subscriptions.submit' %></button>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>