<div id="data-import-popup" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3><%= t 'start.import.import_popup_title' %></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          <i class="import-popup-info icon-info-sign icon-4x pull-left"></i>
          <div>
            <p><%= t 'start.import.import_popup_help_1' %></p>
            <p><%= t 'start.import.import_popup_help_2_html', google_url: 'https://www.google.com/takeout/#custom:reader' %></p>
            <p><%= t 'start.import.import_popup_help_3' %></p>
          </div>
        </div>
        <hr>

        <%= simple_form_for :data_import, url: data_imports_path, multipart: true,
                            html: {:method => :post, id: 'form-data-import'} do |f| %>
          <div class="col-lg-offset-1">
          <label for="data_import_file"><%= t 'simple_form.labels.import_subscriptions.file' %></label>
          <input type="file" name="data_import[file]" id="data_import_file">
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" ><%= t 'start.import.form_close' %></button>
        <button id="data-import-submit" class="btn btn-primary"><%= t 'start.import.form_submit' %></button>
      </div>
    </div>
  </div>
</div>