<div class="row-fluid">
  <div class="span10 offset1">
    <i class="icon-backward"></i> <%= link_to t('devise.views.return'), feeds_path %>
  </div>
</div>

<% content_for :heading do %>
  Openreader - <%= t 'devise.views.edit_account' %>
<% end %>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:method => :put, class: 'form-horizontal'}) do |f| %>
        <div class="control-group">
          <%= f.label t('devise.views.email'), class: 'control-label' %>
          <div class="controls">
            <%= f.email_field :email, :autofocus => true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><em><%= t 'devise.views.unconfirmed_email', email: resource.unconfirmed_email %></em></div>
            <% end %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('devise.views.password'), class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, :autocomplete => 'off' %>
            <div><em><%= t 'devise.views.blank_password' %></em></div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('devise.views.password_confirmation'), class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('devise.views.current_password'), class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :current_password %>
            <div><em><%= t 'devise.views.current_password_needed' %></em></div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit t('devise.views.update_account'), class: 'btn' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <h2><%= t 'devise.views.cancel_account' %></h2>
    <p><%= t 'devise.views.cancel_account_text' %></p>
    <%= button_to t('devise.views.cancel_account'), registration_path(resource_name),
                  :data => { :confirm => t('devise.views.cancel_account_confirm') }, :method => :delete,
                  class: 'btn btn-danger' %>
  </div>
</div>