<% content_for :heading do %>
  Openreader - <%= t 'devise.views.edit_account' %>
<% end %>

<div class="offset1 pull-left">
  <i class="icon-double-angle-left"></i>
  <%= link_to t('devise.views.return'), feeds_path, id: 'return' %>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <%= simple_form_for resource, :as => resource_name,
                        :url => registration_path(resource_name),
                        html: {:method => :put, class: 'form-horizontal'},
                        wrapper: :prepend do |f| %>
      <%= f.input :email, as: :email_icon, autofocus:true %>
      <%= f.input :password, as: :password_icon, hint: t('simple_form.hints.user.blank_password') %>
      <%= f.input :password_confirmation, as: :password_icon %>
      <%= f.input :current_password, as: :password_icon %>

      <div class="form-actions">
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
          <i class="icon-save"></i> <%= t 'devise.views.update_account' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <h2><%= t 'devise.views.cancel_account' %></h2>
    <p><%= t 'devise.views.cancel_account_text' %></p>
    <%= link_to registration_path(resource_name),
                  :data => { :confirm => t('devise.views.cancel_account_confirm') }, :method => :delete,
                  class: 'btn btn-danger' do %>
      <i class="icon-trash"></i>
      <%= t('devise.views.cancel_account') %>
    <% end %>
  </div>
</div>