<div class="page-header edit-registration-header">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        Feedbunch - <%= t 'devise.views.edit_account' %>
      </h1>
    </div>
  </div>
</div>

<div class="col-md-offset-1 pull-left">
  <i class="fa fa-angle-double-left"></i>
  <%= link_to t('devise.views.return'), read_path, id: 'return' %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= simple_form_for resource, :as => resource_name,
                        :url => profile_path(locale: I18n.locale),
                        html: {:method => :put, autocomplete: 'off'} do |f| %>
      <%= f.input :email, as: :email_icon, input_html: {autocomplete: 'off'} %>
      <hr>
      <%= f.input :password, as: :password_icon, hint: t('simple_form.hints.user.blank_password'),
                  label: t('devise.views.new_password'),
                  placeholder: t('simple_form.placeholders.user.new_password'),
                  input_html: {autocomplete: 'off'} %>
      <%= f.input :password_confirmation, as: :password_icon,
                  placeholder: t('simple_form.placeholders.user.password_confirmation'),
                  input_html: {autocomplete: 'off'} %>
      <hr>
      <%= f.input :locale, as: :locale, required: false %>
      <%= f.input :timezone, as: :timezone_clock_icon %>
      <hr>
      <%= f.input :current_password, as: :password_icon,
                  placeholder: t('simple_form.placeholders.user.current_password'),
                  input_html: {autocomplete: 'off'} %>

      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-7">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
            <i class="fa fa-save"></i> <%= t 'devise.views.update_account' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <span class="lead"><%= t 'devise.views.cancel_account' %></span>
      </div>
      <div class="panel-body col-lg-offset-1">
        <p><%= t 'devise.views.cancel_account_text' %></p>
        <%= link_to profile_cancel_path(locale: I18n.locale),
                      :data => { :confirm => t('devise.views.cancel_account_confirm') }, :method => :delete,
                      class: 'btn btn-danger' do %>
          <i class="fa fa-trash-o"></i>
          <%= t('devise.views.cancel_account') %>
        <% end %>
      </div>
    </div>
  </div>
</div>