<% content_for :heading do %>
  Openreader - <%= t 'devise.views.sign_up' %>
<% end %>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => registration_path(resource_name),
                          html: {class: 'form-horizontal'},
                          wrapper: :prepend do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>
        <%= f.input :password, as: :password_icon %>
        <%= f.input :password_confirmation, as: :password_icon %>
        <div class="form-actions">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
            <i class="icon-plus-sign"></i> <%= t'devise.views.sign_up' %>
          <% end %>
        </div>
    <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
