<% content_for :heading do %>
  Feedbunch - <%= t 'devise.views.sign_up' %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <div class="col-md-8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_registration_path do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>
        <%= f.input :password, as: :password_icon %>
        <%= f.input :password_confirmation, as: :password_icon,
                    placeholder: t('simple_form.placeholders.user.password_confirmation')%>
        <%= f.input :locale, as: :locale, required: false %>

        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-7">
            <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <i class="icon-plus-sign"></i> <%= t 'devise.views.sign_up' %>
            <% end %>
          </div>
        </div>
    <% end %>
    </div>

    <div class="col-md-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
