<!DOCTYPE html>
<html ng-app="feedbunch" class="page-with-bg-image">

<%= render 'layouts/header' %>

<body ng-controller="DeviseCtrl">

<div class="container-fluid">

  <div class="row bottom-alert text-center" ng-cloak>
    <div class="col-xs-12">

      <%= render 'layouts/alerts' %>
      <%= render 'devise/alerts' %>

    </div>
  </div>
</div>

<div id="devise-view" class="container">

  <%= render 'layouts/locale_dropdown' %>

  <div class="jumbotron">
    <div class="row">
      <% cache "devise_header_img-#{I18n.locale}" do %>
        <div class="hidden-xs col-md-11 col-md-offset-1">
          <%=
            link_to root_url(locale: I18n.locale) do
              image_tag asset_path('Logo_ColorHoriz_large.png'), alt: 'FeedBunch', class: 'logo'
            end
          %>
        </div>
        <div class="visible-xs col-xs-12">
          <%=
            link_to root_url(locale: I18n.locale) do
              image_tag asset_path('Logo_ColorVert_small.png'), alt: 'FeedBunch', class: 'logo'
            end
          %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <p class="lead"><%= yield :heading %></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/social_links' %>

  </div>

</div>
<%= render 'layouts/footer_js' %>

</body>
</html>
