<% if entries.present? %>
    <% entries.order('published DESC, created_at DESC').each do |entry| %>
        <li id="entry-<%= entry.id %>" class="accordion-group">

          <%# Link to open the entry summary %>
          <%
             if entry.read_by? user
                entry_class = "entry-read"
             else
                entry_class = "entry-unread"
             end
          %>

          <a data-toggle="collapse"
             data-target="#entry-<%= entry.id %>-summary"
             data-parent="#feed-entries"
             data-entry-id="<%= entry.id %>"
             class="<%= entry_class %>">

            <%= sanitize entry.title %>
            <% if entry.published.present? %>
              <span class="pull-right"><%= l entry.published, format: :short %></span>
            <% end %>

          </a>

          <%# Entry summary, initially collapsed %>
          <div class="collapse"
               id="entry-<%= entry.id %>-summary"
               data-entry-summary-id="<%= entry.id %>"
               data-entry-state-update-path="<%= entries_update_path %>">
            <div class="entry-content">
              <p class="lead">
                <% link_entry = link_to(entry.url, target: '_blank') do %>
                  <%= entry.title %>
                  <%= content_tag(:i, '', class: 'icon-external-link') %>
                <% end %>
                <%= sanitize link_entry %>

                <a class="btn btn-small pull-right" data-unread-entry-id="<%= entry.id %>"
                   data-entry-state-update-path="<%= entries_update_path %>">
                  <i class="icon-eye-close"></i>&nbsp;<%= t 'entries.index.mark_unread' %>
                </a>
              </p>

              <p class="hidden"><%= sanitize entry.guid %></p>
              <% if entry.content.present? %>
                <%= sanitize entry.content %>
              <% else %>
                <%= sanitize entry.summary %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>
<% end %>