<% content_for :heading do %>
  Openreader - <%= t 'devise.views.send_unlock' %>
<% end %>


<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), html: {:method => :post, class: 'form-horizontal'}) do |f| %>

        <div class="control-group">
          <%= f.label :email, t('devise.views.email'), class: 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <%= f.email_field :email, :autofocus => true %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit t('devise.views.send_unlock'), class: 'btn' %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
