<% content_for :heading do %>
  Openreader - <%= t 'devise.views.send_unlock' %>
<% end %>


<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_unlock_path,
                          html: {:method => :post, class: 'form-horizontal'},
                          wrapper: :prepend do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>

        <div class="control-group">
          <div class="controls">
            <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
              <i class="icon-share-alt"></i> <%= t 'devise.views.send_unlock' %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
