<% content_for :heading do %>
  Feedbunch - <%= t 'devise.views.send_unlock' %>
<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <div class="col-md-8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_unlock_path,
                          html: {:method => :post, class: 'form-horizontal'} do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>

        <div class="control-group">
          <div class="controls">
            <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <i class="icon-share-alt"></i> <%= t 'devise.views.send_unlock' %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="col-md-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
