<% content_for :heading do %>
  Openreader - <%= t 'devise.views.change_password' %>
<% end %>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => password_path(resource_name),
                          html: {:method => :put, class: 'form-horizontal'},
                          wrapper: :prepend do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <%= f.input :password, as: :password_icon, autofocus: true %>
        <%= f.input :password_confirmation, as: :password_icon,
                    placeholder: t('simple_form.placeholders.user.password_confirmation') %>

        <div class="form-actions">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
            <i class="icon-key"></i> <%= t 'devise.views.change_password' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
