 <% content_for :heading do %>
  Feedbunch - <%= t 'devise.views.forgot_password' %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <div class="col-md-8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_password_path(locale: I18n.locale),
                          html: {:method => :post} do |f| %>
        <%= f.input :email, as: :email_icon, autofocus:true %>

        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-7">
            <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <i class="icon-share-alt"></i> <%= t 'devise.views.send_password_reset' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
