<div class="col-md-8 alert alert-danger alert-block" ng-show="import_status=='ERROR'">

  <div class="col-md-2">
    <i class="fa fa-warning fa-4x"></i>
  </div>

  <div class="col-md-10">

    <p><%= t 'start.import.error' %></p>
    <p><a class="alert-link" data-toggle="modal" data-target="#data-import-popup"><%= t 'start.import.retry_error_1' %></a> <%= t 'start.import.retry_error_2' %></p>

  </div>

</div>

<div id="data-import-running" class="col-md-8 alert alert-info alert-block" ng-show="import_status=='RUNNING'">

  <div class="col-md-2">
    <i class="fa fa-cogs fa-4x"></i>
  </div>

  <div class="col-md-10">

    <p><%= t 'start.import.import_running' %></p>
    <p>
      <%= t 'start.import.progress' %>
    </p>
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: {{100 * import_processed / import_total}}%;">
        <span class="sr-only">{{100 * import_processed / import_total}}%</span>
      </div>
    </div>
    <p><%= t 'start.import.import_background' %></p>

  </div>

</div>


<div class="col-md-8 alert alert-success alert-block" ng-show="import_status=='SUCCESS'">

  <div class="col-md-2">
    <i class="fa fa-thumbs-o-up fa-4x"></i>
  </div>

  <div class="col-md-10">

    <p><%= t 'start.import.success' %></p>
    <p><a class="alert-link" data-toggle="modal" data-target="#data-import-popup"><%= t 'start.import.retry_success_1' %></a> <%= t 'start.import.retry_success_2' %></p>

  </div>

</div>


<div class="col-md-8 alert alert-warning alert-block" ng-show="import_status=='NONE'">

  <div class="col-md-2">
    <i class="fa fa-magic fa-4x"></i>
  </div>

  <div class="col-md-10">

    <p><%= t 'start.import.introduction' %></p>
    <ol class="start-list icons-ul">
      <li>
        <i class="fa fa-angle-right"></i>
        <%= t 'start.import.download_data_html' %>
      </li>
      <li>
        <i class="fa fa-angle-right"></i>
        <a id="start-data-import"
           class="alert-link"
           data-toggle="modal"
           data-target="#data-import-popup"><%= t 'start.import.import_data_1' %></a><%= t 'start.import.import_data_2' %>
      </li>
    </ol>

  </div>

</div>