<div id="no-entries" ng-show="error_no_entries">
  <p><i class="fa fa-times"></i>&nbsp;<%= t 'feeds.index.no_entries' %></p>
</div>

<div class="panel-group"
     id="feed-entries"
     ng-hide="error_no_entries"
     infinite-scroll="read_entries_page()"
     infinite-scroll-disabled="loading_entries_busy"
     infinite-scroll-distance="1"
     infinite-scroll-immediate-check="true">

  <div ng-repeat="entry in entries"
       id="entry-{{entry.id}}"
       class="panel panel-default entry">

    <a id="entry-{{entry.id}}-anchor" class="entry-anchor"></a>

    <a data-entry-id="{{entry.id}}"
       class="list-group-item open-entry-link"
       ng-class="{'entry-read':entry.read && !entry.changing_state, 'entry-unread': !entry.read && !entry.changing_state, 'entry-becoming-read':entry.read && entry.changing_state, 'entry-becoming-unread':!entry.read && entry.changing_state}"
       ng-click="toggle_open_entry(entry)">

      <div class="row">

        <div class="hidden-xs col-sm-2">
          <em><span class="entry-feed-title" ng-bind-html="entry_feed_title(entry)"></span></em>
        </div>

        <div class="col-xs-12 col-sm-7">
          <span class="entry-title" ng-bind-html="entry.title"></span>
        </div>

        <div class="hidden-xs col-sm-3">
          <span class="entry-published pull-right">{{entry.published}}</span>
        </div>
      </div>
    </a>

    <%# Entry summary, initially collapsed %>
    <div class="panel-collapse collapse"
         ng-class="{'in':is_open(entry)}"
         id="entry-{{entry.id}}-summary">
      <div class="panel-body entry-content">

        <div class="entry-toolbar btn-toolbar">
          <a class="btn btn-default btn-sm hint--bottom hint--rounded"
             ng-click="unread_entry(entry)"
             ng-show="entry.read"
             data-hint="<%= t 'entries.index.mark_unread_tooltip' %>">
            <i class="fa fa-square"></i>&nbsp;<%= t 'entries.index.mark_unread' %>
          </a>
          <a class="btn btn-default btn-sm hint--bottom hint--rounded"
             ng-click="read_entry(entry)"
             ng-show="!entry.read"
             data-hint="<%= t 'entries.index.mark_read_tooltip' %>">
            <i class="fa fa-check-square"></i>&nbsp;<%= t 'entries.index.mark_read' %>
          </a>
        </div>

        <p>
          <div class="lead entry-lead hint--top hint--rounded" data-hint="<%= t 'entries.index.title_tooltip' %>">
            <a href="{{entry.url}}"
               target="_blank"
               ng-bind-html="entry.title">
            </a>
          </div>
          <div class="entry-additional-info">
            <p>
              <a href="#"
                 ng-click="set_current_entry_feed(entry)"
                 class="hint--bottom hint--rounded"
                 data-hint="<%= t 'entries.index.feed_tooltip' %>"
                 ng-bind-html="entry_feed_title(entry)">
              </a>
            </p>
            <p>
              <%= t 'entries.index.published' %> {{entry.published}}
            </p>
          </div>
        </p>

        <hr>

        <p class="hidden">{{entry.guid}}</p>
        <div class="entry-content">
          <p ng-show="entry.content.length > 0" ng-bind-html="entry.content"></p>
          <p ng-hide="entry.content.length > 0" ng-bind-html="entry.summary"></p>
        </div>
      </div>
    </div>
  </div>
</div>