<div id="no-entries" ng-show="error_no_entries">
  <p><i class="fa fa-times"></i>&nbsp;<%= t 'feeds.index.no_entries' %></p>
</div>

<div class="panel-group"
     id="feed-entries"
     ng-hide="error_no_entries"
     infinite-scroll="read_entries_page()"
     infinite-scroll-disabled="loading_entries_busy"
     infinite-scroll-distance="1">
  <div ng-repeat="entry in entries"
       id="entry-{{entry.id}}"
       class="panel panel-default entry">

    <a id="entry-{{entry.id}}-anchor" class="entry-anchor"></a>

    <a data-entry-id="{{entry.id}}"
       class="list-group-item"
       ng-class="{'entry-read':entry.read && !entry.changing_state, 'entry-unread': !entry.read && !entry.changing_state, 'entry-becoming-read':entry.read && entry.changing_state, 'entry-becoming-unread':!entry.read && entry.changing_state}"
       ng-click="toggle_open_entry(entry)">
      <em><span class="entry-feed-title">{{entry_feed_title(entry)}}</span></em>
      &nbsp;
      <span class="entry-title">{{entry.title}}</span>
      <span class="pull-right">{{entry.published}}</span>
    </a>

    <%# Entry summary, initially collapsed %>
    <div class="panel-collapse collapse"
         ng-class="{'in':is_open(entry)}"
         id="entry-{{entry.id}}-summary">
      <div class="panel-body entry-content">

        <div class="entry-toolbar btn-toolbar">
          <a class="btn btn-default btn-sm hint--bottom"
             ng-click="unread_entry(entry)"
             ng-show="entry.read"
             data-hint="<%= t 'entries.index.mark_unread_tooltip' %>">
            <i class="fa fa-square"></i>&nbsp;<%= t 'entries.index.mark_unread' %>
          </a>
          <a class="btn btn-default btn-sm hint--bottom"
             ng-click="read_entry(entry)"
             ng-show="!entry.read"
             data-hint="<%= t 'entries.index.mark_read_tooltip' %>">
            <i class="fa fa-check-square"></i>&nbsp;<%= t 'entries.index.mark_read' %>
          </a>
        </div>

        <p>
          <div class="lead entry-lead">
            <a href="{{entry.url}}"
               target="_blank"
               class="hint--top"
               data-hint="<%= t 'entries.index.title_tooltip' %>">
              {{entry.title}}
            </a>
          </div>
          <div class="entry-feed-link">
            <a href="#"
               ng-click="set_current_entry_feed(entry)"
               class="hint--bottom"
               data-hint="<%= t 'entries.index.feed_tooltip' %>">
              {{entry_feed_title(entry)}}
            </a>
          </div>
        </p>

        <p class="hidden">{{entry.guid}}</p>
        <div class="entry-content">
          <p ng-show="entry.content.length > 0" ng-bind-html-unsafe="entry.content"></p>
          <p ng-hide="entry.content.length > 0" ng-bind-html-unsafe="entry.summary"></p>
        </div>
      </div>
    </div>
  </div>
</div>