<div id="start-info">

  <div class="row">
    <div class="col-md-2">
      <%= image_tag asset_path('feed128x128.png'), alt: 'feedbunch' %>
    </div>

    <div class="col-md-10">
      <h1>
        <%= t 'start.welcome' %>
        <p>
          <small ng-show="feeds_loaded">
            <%= t 'start.stats', feeds: '{{feeds.length}}', entries: '{{total_unread_entries()}}' %>
          </small>
        </p>
      </h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        <i class="fa fa-arrow-left fa-lg"></i>
        <%= t 'start.read' %>
      </p>
    </div>
  </div>

  <hr>

  <div id="import-process-status" class="row">

    <%= render 'read/data_import' %>

  </div>

  <div class="row">
    <div class="col-md-8">
      <p><%#= t 'start.export_html' %></p>
    </div>
  </div>

</div>