<div id="start-info">

  <div class="row">
    <div class="col-xs-2 col-md-offset-1">
      <%= image_tag asset_path('feed128x128.png'), alt: 'feedbunch', class: 'application-main-icon' %>
    </div>

    <div class="col-xs-10 col-md-9">
      <h1>
        <%= t 'start.welcome' %>
        <p>
          <small ng-show="feeds_loaded">
            <%= t 'start.stats', feeds: '{{subscribed_feeds_count}}', entries: '{{total_unread_entries()}}' %>
          </small>
        </p>
      </h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <p class="lead">
        <i class="fa fa-arrow-left fa-lg"></i>
        <%= t 'start.read' %>
      </p>
    </div>
  </div>

  <hr>

  <div id="import-process-status" class="row">

    <div class="col-md-10 col-md-offset-2">
        <%= render 'read/data_import' %>
    </div>

  </div>

</div>