<%= render 'read/popups/subscribe_form' %>

<%= render 'read/popups/unsubscribe_confirm' %>

<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div class="col-md-3">
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div class="col-md-9">

    <div ng-show="current_feed==null && !loading_entries">
      <%= render 'start', user: @user %>
    </div>

    <div id="loading" class="col-md-offset-1" ng-show="loading_entries" ng-cloak>
      <%= t 'feeds.index.loading' %>
    </div>

    <div ng-show="current_feed && !loading_entries" ng-cloak>
      <div id="feed-title">
        <strong class="lead">
          <a href="{{current_feed.url}}" target="_blank">{{current_feed.title}}</a>
        </strong>
        <hr>
      </div>

      <div class="panel-group" id="feed-entries">
        <%= render 'entries' %>
      </div>
    </div>

  </div>
</div>