<div class="row top-alert text-center" ng-cloak>

  <div class="col-xs-12">
    <%= render 'layouts/alerts' %>
    <%= render 'read/alerts' %>
    <%= render 'read/data_import_alerts' %>
  </div>

</div>

<%= render 'read/popups/subscribe_form' %>
<%= render 'read/popups/unsubscribe_confirm' %>
<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div id="sidebar-column" class="col-sm-3 pull-left visible-sm visible-md visible-lg">
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div class="col-xs-12 col-sm-9 pull-right" ng-cloak>

    <div ng-show="current_feed==null && current_folder==null && !loading_entries_busy">
      <%= render 'start' %>
    </div>

    <div ng-show="current_feed || current_folder">
      <div id="feed-title">
        <strong class="lead">
          <div class="hint--bottom hint--rounded"
               ng-show="current_feed"
               data-hint="<%= t 'feeds.index.feed_tooltip' %>">
            <a ng-bind-html="current_feed.title"
               href="{{current_feed.url}}"
               target="_blank">
            </a>
          </div>
          <span ng-show="current_folder && current_folder.id!='all'">{{current_folder.title}}</span>
          <span ng-show="current_folder && current_folder.id=='all'"><%= t 'feeds.index.all_entries' %></span>
        </strong>
        <hr>
      </div>

      <%= render 'entries' %>

    </div>

    <div id="loading" class="col-md-offset-1" ng-show="loading_entries_busy">
      <i class="fa fa-spinner fa-spin"></i> <%= t 'feeds.index.loading' %>
    </div>

  </div>
</div>