<%= render 'read/popups/subscribe_form' %>

<%= render 'read/popups/unsubscribe_confirm' %>

<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div class="col-md-3">
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div class="col-md-9">

    <div class="hidden" id="feed-title">
      <strong class="lead">
        <a target="_blank"></a>
      </strong>
      <hr>
    </div>

    <div id="loading" class="col-md-offset-1 hidden"><%= t 'feeds.index.loading' %></div>

    <%= render 'start', user: @user %>

    <div class="panel-group hidden" id="feed-entries"></div>

  </div>
</div>