<div class="row top-alert" ng-cloak>
  <div class="col-md-12 text-center">

    <%= render 'read/alerts' %>
    <%= render 'read/data_import_alerts' %>

  </div>
</div>

<%= render 'read/popups/subscribe_form' %>
<%= render 'read/popups/unsubscribe_confirm' %>
<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div class="col-md-3">
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div class="col-md-9" ng-cloak>

    <div ng-show="current_feed==null && current_folder==null && !loading_entries">
      <%= render 'start', user: @user %>
    </div>

    <div ng-show="current_feed || current_folder">
      <div id="feed-title">
        <strong class="lead">
          <a href="{{current_feed.url}}" target="_blank">{{current_feed.title || current_folder.title}}</a>
        </strong>
        <hr>
      </div>

      <%= render 'entries' %>

    </div>

    <div id="loading" class="col-md-offset-1" ng-show="loading_entries || loading_entries_busy">
      <i class="icon-spinner icon-spin"></i> <%= t 'feeds.index.loading' %>
    </div>

  </div>
</div>