<%= render 'read/popups/subscribe_form' %>

<%= render 'read/popups/unsubscribe_confirm' %>

<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div class="col-md-3">
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div class="col-md-9">

    <div ng-show="current_feed">
      <div class="hidden" id="feed-title">
        <strong class="lead">
          <a target="_blank"></a>
        </strong>
        <hr>
      </div>

      <div class="panel-group hidden" id="feed-entries"></div>
    </div>

    <div id="loading" class="col-md-offset-1" ng-show="loading_entries">
      <%= t 'feeds.index.loading' %>
    </div>

    <div ng-show="current_feed==null && !loading_entries">
      <%= render 'start', user: @user %>
    </div>

  </div>
</div>