<% cache "about-#{I18n.locale}" do %>

  <div class="container">

    <div id="about" class="jumbotron">

      <p class="lead">
        <strong><%= t 'pages.about.about_feedbunch.title' %></strong>
      </p>

      <p>
        <%= t 'pages.about.about_feedbunch.text_1' %>
      </p>

      <p>
        <%= t 'pages.about.about_feedbunch.text_2' %>
      </p>

      <p>
        <%= t 'pages.about.about_feedbunch.text_3' %>
      </p>

      <p class="lead">
        <strong><%= t 'pages.about.about_feeds.title' %></strong>
      </p>

      <p>
        <%= t 'pages.about.about_feeds.text_1_html' %>
      </p>

      <p>
        <%= t 'pages.about.about_feeds.text_2' %>
      </p>

      <p>
        <%= t 'pages.about.about_feeds.text_3_html' %>
      </p>

      <p class="lead">
        <strong><%= t 'pages.about.getting_started.title' %></strong>
      </p>

      <p>
        <%= t 'pages.about.getting_started.text_1' %>
      </p>

      <p>
        <%= t 'pages.about.getting_started.text_2' %>
      </p>

      <p class="lead">
        <strong><%= t 'pages.about.getting_help.title' %></strong>
      </p>

      <p>
        <%= t 'pages.about.getting_help.text_1' %>
      </p>
      <ul id="contact-list" class="fa fa-ul">
        <li><i class="fa fa-li fa-twitter"></i><span class="contact"><a href="http://twitter.com/feedbunch" target="_blank">Twitter (@feedbunch)</a></span></li>
        <li><i class="fa fa-li fa-envelope"></i><span class="contact"><a href="mailto:admin@feedbunch.com">Email (admin@feedbunch.com)</a></span></li>
        <li><i class="fa fa-li fa-github"></i><span class="contact"><a href="https://github.com/amatriain/feedbunch" target="_blank">Github (amatriain/feedbunch)</a></span></li>
      </ul>

      <p>
        <%= t 'pages.about.getting_help.text_2' %>
      </p>

    </div>

  </div>

<% end %>