<br>
<div class="row-fluid">
  <div class="span10 offset1 hero-unit">
    <div class="page-header">
      <h1><a href="<%= root_url %>"><img src="/assets/feed128x128.png"></a> Openreader</h1>
    </div>
    <div class="span9 offset1">
      <p class="lead"><%= t '.tagline' %></p>
      <% if !user_signed_in? %>
        <p>
          <%= link_to t('.sign_up'), new_user_registration_path, class: 'btn btn-primary btn-large', id: 'sign_up' %>
          <%= t '.or' %> <%= link_to t('.sign_in'), new_user_session_path, id: 'sign_in' %>
        </p>
      <% else %>
        <%= link_to t('.feeds'), feeds_path, class: 'btn btn-primary btn-large' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <i class="icon-github icon-large"></i> <a href="https://github.com/amatriain/openreader"><%= t'.github' %></a>
  </div>
</div>