<br>

<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1>
        <%=
            link_to root_url do
              image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
            end
        %>
        &nbsp;Feedbunch
      </h1>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <p class="lead"><%= t '.tagline' %></p>
        <p>
          <%= link_to t('.sign_up'), new_user_registration_path, class: 'btn btn-primary btn-lg', id: 'sign_up' %>
          <%= t '.or' %> <%= link_to t('.sign_in'), feeds_path, id: 'sign_in' %>
        </p>
      </div>
    </div>
  </div>

</div>
