<div class="row bottom-alert text-center" ng-cloak>

  <div class="col-xs-12">
    <%= render 'read/alerts/alerts' %>
  </div>

</div>

<%= render 'read/popups/subscribe_form' %>
<%= render 'read/popups/unsubscribe_confirm' %>
<%= render 'read/popups/new_folder_form' %>

<div class="row">

  <div id="sidebar-column"
       class="col-xs-12 col-sm-3 pull-left"
       ng-class="{'sidebar-hidden-xs': !sidebar_visible}"
       ng-cloak>
    <%= render 'read/sidebar/sidebar' %>
  </div>

  <div id="entries-column"
       class="col-xs-12 col-sm-9 pull-right"
       ng-cloak>

    <div ng-show="current_feed==null && current_folder==null && !loading_entries_busy">
      <%= render 'start' %>
    </div>

    <div ng-show="current_feed || current_folder">
      <div id="feed-title">
        <strong class="lead">

          <% cache "read_title-#{I18n.locale}" do %>

            <div ng-show="current_feed">
              <a class="feed-title-text"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="<%= t 'read.index.feed_tooltip' %>"
                 ng-bind-html="current_feed.title"
                 href="{{current_feed.url}}"
                 target="_blank"
                 rel="noopener noreferrer">
              </a>
            </div>

            <span class="feed-title-text"
                  ng-show="current_folder && current_folder.id!='all'">
              {{current_folder.title}}
            </span>

            <span class="feed-title-text"
                  ng-show="current_folder && current_folder.id=='all'">
              <%= t 'read.index.all_entries' %>
            </span>

          <% end %>
          
        </strong>
      </div>
      <hr id="feed-title-hr">

      <%= render 'entries' %>

    </div>

    <% cache "read_loading-#{I18n.locale}" do %>

      <div class="row">
        <div id="loading" class="col-xs-12" ng-show="loading_entries_busy">
          <div>
            <%= t 'read.index.loading' %>
          </div>
          <div>
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>