<% content_for :heading do %>
Openreader - <%= t 'devise.views.sign_in' %>
<% end %>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <% if devise_mapping.rememberable? -%>
              <%= f.label :remember_me, class: 'checkbox' do %>
                <%= f.check_box :remember_me, checked:true, class: 'checkbox' %>
                Remember me
              <% end %>
            <% end -%>

            <%= f.submit "Sign in", class: 'btn' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
