<% content_for :heading do %>
Feedbunch - <%= t 'devise.views.sign_in' %>
<% end %>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <div class="span8">
      <%= simple_form_for resource, :as => resource_name,
                          :url => user_session_path,
                          html: {class: 'form-horizontal'},
                          wrapper: :prepend do |f| %>
        <%= f.input :email, as: :email_icon, autofocus: true %>
        <%= f.input :password, as: :password_icon, hint: false %>

        <% if devise_mapping.rememberable? %>
          <div class="control-group">
            <div class="controls">
              <%= f.label :remember_me, t('devise.views.remember_me'), class: 'checkbox' do %>
                <%= f.check_box :remember_me, checked:true, class: 'checkbox' %>
                <%= t 'devise.views.remember_me' %>
              <% end %>
            </div>
          </div>
        <% end -%>

        <div class="form-actions">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-large' do %>
            <i class="icon-signin"></i> <%= t 'devise.views.sign_in' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="span4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
