<% content_for :heading do %>
  <%= t 'devise.invitations.edit.header' %>
<% end %>

<div id="accept-invitation-message" class="alert alert-success">
  <div class="row">
    <div class="col-xs-3 col-sm-2 text-center">
      <i class="fa fa-thumbs-o-up fa-4x"></i>
    </div>

    <div class="col-xs-9 col-sm-10">
      <p><%= t 'devise.invitations.edit.instructions_1' %></p>
    </div>
  </div>
  <p class="text-center"><%= t 'devise.invitations.edit.instructions_2' %></p>
</div>

<div class="row">

  <div class="col-xs-12 col-md-8">

    <%
       # The URL for the form action has the locale and invitation_token params. This way if the POST
       # fails (e.g. because the password is left blank), the user is displayed again the same form and the
       # invitation_token is in the params; this is necessary for the links in the locale dropdown to also have
       # the invitation_token, which means that after an error POSTing the user can switch locales and the
       # form will stil work.
       form_url = invitation_path UriHelpers.params_keep_invitation_token(params)
    %>

    <%= simple_form_for resource, :as => resource_name,
                        :url => form_url,
                        :html => { :method => :put } do |f| %>
      <%= f.hidden_field :invitation_token %>

      <%= f.input :password, as: :password_icon,
                  placeholder: t('devise.invitations.edit.password')%>
      <%= f.input :password_confirmation, as: :password_icon,
                  placeholder: t('simple_form.placeholders.user.password_confirmation')%>

      <div class="form-group">
        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
            <i class="fa fa-plus-circle"></i> <%= t 'devise.invitations.edit.submit_button' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-4 col-sm-offset-3 col-md-offset-0">
    <%= render 'devise/shared/links' %>
  </div>
</div>