<li>
  <a data-sidebar-feed
     data-feed-id="<%= feed.id %>"
     data-feed-path="<%= feed_path feed.id %>"
     data-refresh-path="<%= feed_refresh_path feed %>"
     data-feed-title="<%= feed.title %>"
     data-feed-url="<%= feed.url %>"
     <% if feed.user_folder(current_user).present? %>
      data-folder-id="<%= feed.user_folder(current_user).id %>"
    <% else %>
      data-folder-id="none"
     <% end %>
  >

    <i class="icon-rss"></i> <%= feed.title %>&nbsp;&nbsp;&nbsp;<i class="icon-spinner hidden"></i>
    <span class="badge pull-right"><%= user.feed_unread_count feed %></span>
  </a>
</li>