<%
   if folder == Folder::ALL_FOLDERS
     folder_id = Folder::ALL_FOLDERS
   else
     folder_id = folder.id
   end
%>

<li id="folder-<%= folder_id %>" data-folder-id="<%= folder_id %>">

  <%# Link to open the folder and close the folder %>
  <a data-sidebar-folder data-toggle="collapse" data-target="#feeds-<%= folder_id %>" class="sidebar-folder">
    <i class="folder icon-folder-open-alt"></i> <%= title %><i class="arrow icon-chevron-down pull-right"></i>
  </a>

  <%# Content of the folder %>
  <ul class="nav nav-list collapse in" id="feeds-<%= folder_id %>">

    <%= render 'feeds/sidebar/sidebar_folder_read_all', user: user, folder: folder %>

    <%# Links to read each individual feed in the folder %>
    <% feeds.order('title ASC').each do |feed| %>

      <%# Ensure user is actually subscribed to the feed, in case there is some data inconsistency %>
      <% if user.feeds.include? feed %>
        <%= render 'feeds/sidebar/sidebar_feed', user: user, feed: feed %>
      <% end %>

    <% end %>
  </ul>
</li>