<li id="folder-<%= folder_id %>" data-folder-id="<%= folder_id %>">

  <%# Link to open the folder (initialy it's closed) %>
  <a data-sidebar-folder data-toggle="collapse" data-target="#feeds-<%= folder_id %>" class="sidebar-folder">
    <i class="folder icon-folder-open-alt"></i> <%= title %><i class="arrow icon-chevron-down pull-right"></i>
  </a>

  <%# Content of the folder (initially hidden) %>
  <ul class="nav nav-list collapse in" id="feeds-<%= folder_id %>">

    <%= render 'feeds/sidebar/sidebar_folder_read_all', user: user, folder_id: folder_id %>

    <%# Links to read each individual feed in the folder %>
    <% feeds.all(order: 'title ASC').each do |feed| %>

      <%= render 'feeds/sidebar/sidebar_feed', user: user, feed: feed %>

    <% end %>
  </ul>
</li>