<%# Alert displayed when there is a problem loading folders %>
<div id="problem-loading-folders" class="alert alert-danger" ng-show="error_loading_folders">
  <button type="button" class="close" ng-click="reset_flag('error_loading_folders')">&times;</button>
  <p><%= t 'read.alerts.problem_loading_folders' %></p>
</div>

<%# Alert displayed when there is a problem loading feeds %>
<div id="problem-loading-feeds" class="alert alert-danger" ng-show="error_loading_feeds">
  <button type="button" class="close" ng-click="reset_flag('error_loading_feeds')">&times;</button>
  <p><%= t 'read.alerts.problem_loading_feeds' %></p>
</div>

<%# Alert displayed when there is a problem loading user config %>
<div id="problem-loading-user-config" class="alert alert-danger" ng-show="error_loading_user_config">
  <button type="button" class="close" ng-click="reset_flag('error_loading_user_config')">&times;</button>
  <p><%= t 'read.alerts.problem_loading_user_config' %></p>
</div>

<%# Alert displayed when there is a problem loading user data %>
<div id="problem-loading-user-data" class="alert alert-danger" ng-show="error_loading_user_data">
  <button type="button" class="close" ng-click="reset_flag('error_loading_user_data')">&times;</button>
  <p><%= t 'read.alerts.problem_loading_user_data' %></p>
</div>

<%# Alert displayed when there is a problem loading entries %>
<div id="problem-loading-entries" class="alert alert-danger" ng-show="error_loading_entries">
  <button type="button" class="close" ng-click="reset_flag('error_loading_entries')">&times;</button>
  <p><%= t 'read.alerts.problem_loading_entries' %></p>
</div>