<%
   if folder == Folder::ALL_FOLDERS
     folder_id = Folder::ALL_FOLDERS
   else
     folder_id = folder.id
   end
%>

<div id="folder-<%= folder_id %>" class="folder-panel panel panel-default" data-folder-id="<%= folder_id %>">

  <%# Link to open the folder and close the folder %>
  <a data-sidebar-folder
     data-toggle="collapse"
     data-target="#feeds-<%= folder_id %>"
     data-parent="#folders-list"
     class="sidebar-folder list-group-item">

    <i class="folder icon-folder-close-alt"></i> <%= title %><i class="folder-arrow icon-chevron-right pull-right"></i>

  </a>

  <div id="feeds-<%= folder_id %>" class="panel-collapse collapse">
    <div class="panel-body">

      <%# Content of the folder %>
      <ul class="nav nav-pills nav-stacked">

        <%= render 'read/sidebar/sidebar_folder_read_all', user: user, folder: folder %>

        <%# Links to read each individual feed in the folder %>
        <% feeds.order('title ASC').each do |feed| %>

          <%# Ensure user is actually subscribed to the feed, in case there is some data inconsistency %>
          <% if user.feeds.include? feed %>
            <%= render 'read/sidebar/sidebar_feed', user: user, feed: feed %>
          <% end %>

        <% end %>

      </ul>

    </div>
  </div>

</div>