<% require 'mailer_button_styler' %>

<h1><%= t 'devise.mailer.confirmation_instructions.header', name: @resource.name %></h1>

<p><%= t 'devise.mailer.confirmation_instructions.confirmation' %></p>

<p>
  <h2>

    <%=
        link_to t('devise.mailer.confirmation_instructions.confirm_link'),
                confirmation_url(:confirmation_token => @token, locale: I18n.locale),
                style: MailerButtonStyler.button_style
    %>
  </h2>
</p>

<% link_feedbunch = link_to 'FeedBunch.com', root_url(locale: I18n.locale) %>

<p><small><%= t 'devise.mailer.confirmation_instructions.note_1_html', link: link_feedbunch, name: @resource.email %></small></p>

<p><small><%= t 'devise.mailer.confirmation_instructions.note_2_html', link: link_feedbunch %></small></p>
