<div id="landing-page" class="container">

  <%= render 'layouts/locale_dropdown' %>

<% cache "index_page-#{I18n.locale}" do %>

  <div class="jumbotron">
    <div class="row">
      <div class="hidden-xs col-md-11 col-md-offset-1">
        <%= image_tag asset_path('Logo_ColorHoriz_large.png'), class: 'logo' %>
      </div>
      <div class="visible-xs col-xs-12">
        <%= image_tag asset_path('Logo_ColorVert_small.png'), class: 'logo' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <p class="lead"><%= t '.tagline' %></p>

        <div id="registration-links">
          <span id="sign_up_button">
            <%= link_to new_user_registration_path(locale: I18n.locale),
                        class: 'btn btn-primary btn-lg', id: 'sign_up' do %>
              <%= t('.sign_up') %> <i class="fa fa-plus-circle"></i>
            <% end %>
          </span>
          <%= t '.or' %> <%= link_to read_path, id: 'sign_in' do %>
            <%= t('.sign_in') %> <i class="fa fa-sign-in"></i>
          <% end %>
        </div>

        <% if Feedbunch::Application.config.demo_enabled %>
          <div id="demo-link">
            <%= t '.demo_intro' %>
            <a data-toggle="modal"
               data-target="#demo-info-popup">
              <%= t('.demo') %>
              <i class="fa fa-star"></i>
            </a>
          </div>
        <% end %>

      </div>
    </div>

<% end %>

    <%= render 'layouts/social_links' %>

  </div>

</div>

<%= render 'pages/about' %>
<%= render 'layouts/footer' %>