<div id="subscribe-state-alerts"
     class="row"
     ng-repeat="job_state in subscribe_job_states | orderBy:'-started_at'">

  <div id="subscribe-state-{{job_state.id}}"
       ng-mouseenter="tooltips_subscribe_job_state(job_state)">

    <div class="col-xs-12 col-md-9 alert alert-danger alert-block" ng-show="job_state.state=='ERROR'">

      <button type="button"
              class="close"
              ng-click="hide_subscribe_job_alert(job_state)"
              title="<%= t 'start.job_state.dismiss' %>"
              data-toggle="tooltip"
              data-placement="top">
        &times;
      </button>

      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <i class="fa fa-plus fa-4x"></i>
        </div>

        <div class="col-xs-9 col-sm-10">
          <p><%= t 'start.job_state.subscribe.error' %></p>
          <p>{{job_state.fetch_url}}</p>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-9 alert alert-info alert-block" ng-show="job_state.state=='RUNNING'">

      <button type="button"
              class="close"
              ng-click="hide_subscribe_job_alert(job_state)"
              title="<%= t 'start.job_state.dismiss' %>"
              data-toggle="tooltip"
              data-placement="top">
        &times;
      </button>

      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <i class="fa fa-cog fa-spin fa-4x"></i>
        </div>

        <div class="col-xs-9 col-sm-10">
          <p><%= t 'start.job_state.subscribe.running' %></p>
          <p>{{job_state.fetch_url}}</p>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-9 alert alert-success alert-block" ng-show="job_state.state=='SUCCESS'">

      <button type="button"
              class="close"
              ng-click="hide_subscribe_job_alert(job_state)"
              title="<%= t 'start.job_state.dismiss' %>"
              data-toggle="tooltip"
              data-placement="top">
        &times;
      </button>

      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <i class="fa fa-plus fa-4x"></i>
        </div>

        <div class="col-xs-9 col-sm-10">
          <p><%= t 'start.job_state.subscribe.success' %></p>
          <p>{{job_state.fetch_url}}</p>
        </div>
      </div>

    </div>

  </div>

</div>