<% cache "subscribe_job_states-#{I18n.locale}" do %>

  <div id="subscribe-state-alerts"
       class="row"
       ng-repeat="job_state in subscribe_job_states | orderBy:'-started_at'">

    <div id="subscribe-state-{{job_state.id}}"
         ng-mouseenter="tooltips_subscribe_job_state(job_state)">

      <div class="col-xs-12 col-md-9 alert alert-danger" ng-show="job_state.state=='ERROR'">

        <button type="button"
                class="close"
                ng-click="hide_subscribe_job_alert(job_state)"
                title="<%= t 'read.job_states.dismiss' %>"
                data-toggle="tooltip"
                data-placement="top">
          &times;
        </button>

        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <i class="fa fa-plus fa-4x"></i>
          </div>

          <div class="col-xs-9 col-sm-10">
            <p><%= t 'read.job_states.subscribe.error' %></p>
            <p><span class="job-feed-title">{{job_state.fetch_url}}</span></p>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-9 alert alert-info" ng-show="job_state.state=='RUNNING'">

        <button type="button"
                class="close"
                ng-click="hide_subscribe_job_alert(job_state)"
                title="<%= t 'read.job_states.dismiss' %>"
                data-toggle="tooltip"
                data-placement="top">
          &times;
        </button>

        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <i class="fa fa-cog fa-spin fa-4x"></i>
          </div>

          <div class="col-xs-9 col-sm-10">
            <p><%= t 'read.job_states.subscribe.running' %></p>
            <p><span class="job-feed-title">{{job_state.fetch_url}}</span></p>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-9 alert alert-success" ng-show="job_state.state=='SUCCESS'">

        <button type="button"
                class="close"
                ng-click="hide_subscribe_job_alert(job_state)"
                title="<%= t 'read.job_states.dismiss' %>"
                data-toggle="tooltip"
                data-placement="top">
          &times;
        </button>

        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <i class="fa fa-plus fa-4x"></i>
          </div>

          <div class="col-xs-9 col-sm-10">
            <p><%= t 'read.job_states.subscribe.success' %></p>
            <p><a class="job-feed-title alert-link" ng-click="hide_subscribe_job_alert(job_state);set_current_feed(job_state.feed_id)">{{feed_title(job_state.feed_id)}}</a></p>
          </div>
        </div>

      </div>

    </div>

  </div>

<% end %>