<% if user_signed_in? %>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="icon-reorder"></i>
      </button>
      <%= link_to 'Feedbunch (BETA)', read_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse navbar-collapse">

      <ul class="nav navbar-nav">

        <li>
          <a id="add-subscription"
             data-target="#subscribe-feed-popup"
             data-toggle="modal"
             ng-class="{disabled: loading_entries}">
            <i class="icon-plus"></i> <%= t 'feeds.index.subscribe_button' %>
          </a>
        </li>

        <li id="entries-dropdown" class="dropdown" ng-show="!loading_entries">
          <a id="entries-management"
             class="dropdown-toggle disabled hidden"
             data-toggle="dropdown">
            <i class="icon-rss"></i> <%= t 'feeds.index.entries' %>
            <b class="caret"></b>
            <ul class="dropdown-menu text-left">
              <li>
                <a id="refresh-feed">
                  <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
                </a>
              </li>

              <li>
                <a id="read-all-button"
                   data-entry-state-update-path="<%= entries_update_path %>">
                  <i class="icon-check"></i> <%= t 'feeds.index.read-all' %>
                </a>
              </li>

              <li>
                <a id="show-read-button">
                  <i class="icon-eye-open"></i> <%= t 'feeds.index.show_read' %>
                </a>
              </li>

            </ul>
           </a>
        </li>

        <li id="folder-management-dropdown" class="dropdown" ng-show="!loading_entries">
          <a id="folder-management"
                  class="dropdown-toggle disabled hidden"
                  data-toggle="dropdown">
            <i class="icon-folder-open"></i> <%= t 'feeds.index.folder_management' %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu text-left">
            <% current_user.folders.each do |folder| %>

              <%= render 'layouts/navbar/dropdown_folder', folder: folder %>

            <% end %>
            <li class="divider"></li>
            <li>
              <a data-folder-id="new"
                 data-toggle="modal"
                 data-target="#new-folder-popup">
                <i class="icon-plus text-muted"></i>&nbsp;
                <%= t 'feeds.index.folder_new' %>
              </a>
            </li>
            <li>
              <a data-folder-remove-path="<%= folder_path Folder::NO_FOLDER %>" data-folder-id="none">
                <i class="icon-ban-circle text-muted"></i>
                <i class="hidden icon-ok"></i>&nbsp;
                <%= t 'feeds.index.folder_none' %>
              </a>
            </li>
          </ul>
        </li>

        <li ng-show="!loading_entries">
          <a id="unsubscribe-feed"
             class="disabled hidden"
             data-toggle="modal"
             data-target="#unsubscribe-feed-popup">
            <i class="icon-remove-sign"></i> <%= t 'feeds.index.unsubscribe' %>
          </a>
        </li>

      </ul>

      <% if current_user %>

        <ul class="nav navbar-nav navbar-right">

          <li id="user-dropdown" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if can? :manage, Resque %>
                <li>
                  <%#= link_to resque_path, target: '_blank' do %>
                  <%= link_to '/admin/resque', target: '_blank' do %>
                    <i class="icon-code-fork"></i>
                    <%= t 'layouts.application.background_jobs' %>
                  <% end %>
                </li>
              <% end %>

              <%# Show an "import subscriptions" link only if the user has not run an import, or if
              his last import finished with an error %>
              <%
                 data_import = current_user.try :data_import
                 status = data_import.try :status
              %>
              <% if data_import.blank? || status==DataImport::ERROR %>
                <li>
                  <a id="nav-data-import"
                     data-toggle="modal"
                     data-target="#data-import-popup">

                    <i class="icon-magic"></i>

                    <%= t 'layouts.application.import' %>
                  </a>
                </li>
              <% end %>

              <li>
                <%=  link_to edit_user_registration_path, id: 'my_account' do %>
                  <i class="icon-gear"></i>
                  <%= t 'layouts.application.my_account' %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
                  <i class="icon-signout"></i>
                  <%= t 'layouts.application.logout' %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>

    </div>

  </div>

<% end %>