<% if  notice.present? %>
  <div id="notice" class="alert alert-warning fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= notice %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
<% end %>

<% if  alert.present? %>
  <div id="alert" class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= alert %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
<% end %>

<%= render 'read/alerts' %>

<%= render 'data_imports/alerts' %>


