<% if  notice.present? %>
  <div class="span8 offset2 top-alert">
    <div id="notice" class="alert fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= notice %></p>
      <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
    </div>
  </div>
<% end %>

<% if  alert.present? %>
  <div class="span8 offset2 top-alert">
    <div id="alert" class="alert alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= alert %></p>
      <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
    </div>
  </div>
<% end %>

<%= render 'feeds/alerts' %>

<%= render 'subscriptions_data/alerts' %>


