<% cache "footer-#{I18n.locale}" do %>

  <div class="container">

    <div id="footer" class="jumbotron">

      <div class="credit-line">

        <p class="lead">
          <strong><%= t 'layouts.footer.acknowledgements' %></strong>
        </p>

        <p>
          <%= link_to 'Bootstrap', 'http://getbootstrap.com', target: '_blank', rel: 'noopener noreferrer' %> &copy; Twitter, Inc / <%= link_to t('layouts.footer.bootstrap_license'), 'https://github.com/twbs/bootstrap/blob/master/LICENSE', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <p>
          <%= link_to 'AngularJS', 'https://angularjs.org/', target: '_blank', rel: 'noopener noreferrer' %> &copy; Google, Inc / <%= link_to t('layouts.footer.angularjs_license'), 'https://github.com/angular/angular.js/blob/master/LICENSE', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <p>
          <%= link_to 'Font Awesome', 'http://fontawesome.io', target: '_blank', rel: 'noopener noreferrer' %> <%= t 'layouts.footer.by' %> Dave Gandy
        </p>

        <p>
          <%= t 'layouts.footer.img_credit' %>, <%= t 'layouts.footer.bg_image' %> <%= t 'layouts.footer.by' %>
          <%= link_to 'Patricia', 'http://www.behance.net/Patridb', target: '_blank', rel: 'noopener noreferrer' %>
          <%= t 'layouts.footer.and' %>
          <%= link_to 'Alvaro', 'http://alvaro-corcin.com/', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <p>
          <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank', rel: 'noopener noreferrer' %> <%= t 'layouts.footer.by' %> David Heinemeier Hansson / <%= link_to t('layouts.footer.rails_license'), 'http://www.opensource.org/licenses/mit-license.php', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <p>
          <%= link_to 'Ruby', 'https://www.ruby-lang.org', target: '_blank', rel: 'noopener noreferrer' %> &copy; Yukihiro Matsumoto / <%= link_to t('layouts.footer.ruby_license'), 'https://www.ruby-lang.org/en/about/license.txt', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

      </div>

    </div>

  </div>

<% end %>