<% cache "footer-#{I18n.locale}" do %>

  <div class="container">

    <div id="footer" class="jumbotron">

      <div class="credit-line">

        <p class="lead">
          <strong><%= t 'layouts.footer.acknowledgements' %></strong>
        </p>

        <p>
          <%= link_to 'Bootstrap', 'http://getbootstrap.com', target: '_blank' %> &copy; Twitter, Inc / <%= link_to t('layouts.footer.bootstrap_license'), 'https://github.com/twbs/bootstrap/blob/master/LICENSE', target: '_blank' %>
        </p>

        <p>
          <%= link_to 'AngularJS', 'https://angularjs.org/', target: '_blank' %> &copy; Google, Inc / <%= link_to t('layouts.footer.angularjs_license'), 'https://github.com/angular/angular.js/blob/master/LICENSE', target: '_blank' %>
        </p>

        <p>
          <%= link_to 'Font Awesome', 'http://fontawesome.io', target: '_blank' %> <%= t 'layouts.footer.by' %> Dave Gandy
        </p>

        <p>
          <%= t 'layouts.footer.img_credit' %> <%= t 'layouts.footer.by' %>
          <%= link_to 'Patricia', 'http://www.behance.net/Patridb', target: '_blank' %>
          <%= t 'layouts.footer.and' %>
          <%= link_to 'Alvaro', 'http://alvaro-corcin.com/', target: '_blank' %>
        </p>

        <p>
          <%= link_to t('layouts.footer.bg_image'), 'http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52b6b4db7397c_1.JPG', target: '_blank' %> <%= t 'layouts.footer.by' %> <%= link_to 'Unsplash', 'http://unsplash.com/', target: '_blank' %> / <%= link_to 'CC0 1.0', 'http://creativecommons.org/publicdomain/zero/1.0/', target: '_blank' %>
        </p>

        <p>
          <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank' %> <%= t 'layouts.footer.by' %> David Heinemeier Hansson / <%= link_to t('layouts.footer.rails_license'), 'http://www.opensource.org/licenses/mit-license.php', target: '_blank' %>
        </p>

        <p>
          <%= link_to 'Ruby', 'https://www.ruby-lang.org', target: '_blank' %> &copy; Yukihiro Matsumoto / <%= link_to t('layouts.footer.ruby_license'), 'https://www.ruby-lang.org/en/about/license.txt', target: '_blank' %>
        </p>

      </div>

    </div>

  </div>

<% end %>