<hr>

<div id="footer">

  <a id="github-footer-link"
     href="https://github.com/amatriain/feedbunch"
     target="_blank"
     data-toggle="tooltip"
     data-placement="top"
     title="<%= t 'layouts.footer.github' %>">
    <i class="fa fa-github fa-2x fa-fw"></i></a>

  <a id="twitter-footer-link"
     href="https://twitter.com/feedbunch"
     target="_blank"
     data-toggle="tooltip"
     data-placement="top"
     title="<%= t 'layouts.footer.twitter' %>">
    <i class="fa fa-twitter fa-2x fa-fw"></i></a>

  <%= mail_to Feedbunch::Application.config.admin_email, '@',
             id: 'email-footer-link',
             'data-toggle' => 'tooltip',
             'data-placement' => 'top',
             title: t('layouts.footer.email') %>

  <div class="credit-line small">
    <p>
      <%= link_to t('layouts.footer.img_credit'), 'http://commons.wikimedia.org/wiki/File:Generic_Feed-icon.svg', target: '_blank' %>
      <%= t 'layouts.footer.by' %>
      <%= link_to 'Jahoe', 'http://commons.wikimedia.org/wiki/User:Jahoe', target: '_blank' %>
      <%= t 'layouts.footer.based_on' %> Mozilla Foundation.
      <%= t 'layouts.footer.license_1' %>
      <%= link_to 'MPL', 'http://en.wikipedia.org/wiki/Mozilla_Public_License', target: '_blank' %>
      /
      <%= link_to 'GPL', 'http://commons.wikimedia.org/wiki/GPL', target: '_blank' %>
      /
      <%= link_to 'LGPL', 'http://commons.wikimedia.org/wiki/LGPL', target: '_blank' %>
      <%= t 'layouts.footer.license_2' %></p>
  </div>

</div>
