<div class="container">

  <div id="footer" class="jumbotron">

    <div class="credit-line">

      <p class="lead">
        <strong><%= t 'layouts.footer.acknowledgements' %></strong>
      </p>

      <p>
        <%= link_to 'Bootstrap', 'http://getbootstrap.com', target: '_blank' %> &copy; Twitter, Inc / <%= link_to t('layouts.footer.bootstrap_license'), 'https://github.com/twbs/bootstrap/blob/master/LICENSE', target: '_blank' %>
      </p>

      <p>
        <%= link_to 'AngularJS', 'https://angularjs.org/', target: '_blank' %> &copy; Google, Inc / <%= link_to t('layouts.footer.angularjs_license'), 'https://github.com/angular/angular.js/blob/master/LICENSE', target: '_blank' %>
      </p>

      <p>
        <%= link_to 'Font Awesome', 'http://fontawesome.io', target: '_blank' %> <%= t 'layouts.footer.by' %> Dave Gandy
      </p>

      <p>
        <%= link_to t('layouts.footer.img_credit'), 'http://commons.wikimedia.org/wiki/File:Generic_Feed-icon.svg', target: '_blank' %>
        <%= t 'layouts.footer.by' %>
        <%= link_to 'Jahoe', 'http://commons.wikimedia.org/wiki/User:Jahoe', target: '_blank' %>
        <%= t 'layouts.footer.based_on' %> Mozilla Foundation.
        <%= t 'layouts.footer.license_mozilla_1' %>
        <%= link_to 'MPL', 'http://en.wikipedia.org/wiki/Mozilla_Public_License', target: '_blank' %>
        /
        <%= link_to 'GPL', 'http://commons.wikimedia.org/wiki/GPL', target: '_blank' %>
        /
        <%= link_to 'LGPL', 'http://commons.wikimedia.org/wiki/LGPL', target: '_blank' %>
        <%= t 'layouts.footer.license_mozilla_2' %>
      </p>

      <p>
        <%= link_to t('layouts.footer.bg_image'), 'http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52b6b4db7397c_1.JPG', target: '_blank' %> <%= t 'layouts.footer.by' %> <%= link_to 'Unsplash', 'http://unsplash.com/', target: '_blank' %> / <%= link_to 'CC0 1.0', 'http://creativecommons.org/publicdomain/zero/1.0/', target: '_blank' %>
      </p>

      <p>
        <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank' %> <%= t 'layouts.footer.by' %> David Heinemeier Hansson / <%= link_to t('layouts.footer.rails_license'), 'http://www.opensource.org/licenses/mit-license.php', target: '_blank' %>
      </p>

      <p>
        <%= link_to 'Ruby', 'https://www.ruby-lang.org', target: '_blank' %> &copy; Yukihiro Matsumoto / <%= link_to t('layouts.footer.ruby_license'), 'https://www.ruby-lang.org/en/about/license.txt', target: '_blank' %>
      </p>

    </div>

  </div>

</div>