<% cache 'header' do %>
  <head>
    <title>FeedBunch</title>
    <meta name="Description" content="A simple and elegant feed reader.">
    <meta keywords="feedbunch,reader,atom,rss,feed,reading">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
<% end %>
    <%= stylesheet_link_tag    'application', :media => 'all' %>

    <link rel="icon" type="image/png" sizes="192x192" href="<%= image_path 'logo192x192.png' %>">
    <link rel="manifest" href="<%= page_path 'manifest.json' %>">
    <meta name="theme-color" content="#99cc33">
    <%= csrf_meta_tags %>
    <%# favicon must be the last element with rel="icon", otherwise favico.js won't work %>
    <%= favicon_link_tag 'logo192x192.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
