<!DOCTYPE html>
<html>
<head>
  <title>Feedbunch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag '/favicon.ico' %>

  <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', :media => 'all' %>
  <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css', :media => 'all' %>
  <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', :media => 'all' %>
  <%= stylesheet_link_tag    'application', :media => 'all' %>

  <%= csrf_meta_tags %>
</head>