<% if !user_signed_in? %>

<div class="dropdown locale-dropdown">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    <% if I18n.locale == :en %>
      <%= image_tag asset_path('flags/us.png'), class: 'locale-flag' %>
      English <i class="fa fa-fw fa-caret-down"></i>
    <% elsif I18n.locale == :es %>
      <%= image_tag asset_path('flags/es.png'), class: 'locale-flag' %>
      Español <i class="fa fa-fw fa-caret-down"></i>
    <% end %>
  </a>
  <ul class="dropdown-menu text-left" role="menu" aria-labelledby="dropdownMenu">

    <% invitation_token = params[:invitation_token] %>

    <li>
      <%
         url_en = url_for UriHelpers.params_keep_invitation_token(params, locale: 'en')
      %>
      <%= link_to url_en do %>
        <%= image_tag asset_path('flags/us.png'), class: 'locale-flag' %>
        English
      <% end %>
    </li>

    <li>
      <%
         url_es = url_for UriHelpers.params_keep_invitation_token(params, locale: 'es')
      %>
      <%= link_to url_es do %>
        <%= image_tag asset_path('flags/es.png'), class: 'locale-flag' %>
        Español
      <% end %>
    </li>

  </ul>
</div>

<% end %>