<% if user_signed_in? %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

      <%= link_to 'Openreader', root_path, class: 'brand' %>

      <ul class="nav">
        <li>
          <%= link_to feeds_path, id: 'feeds' do %>
            <i class="icon-rss"></i>
            <%= t 'layouts.application.my_feeds' %>
          <% end %>
        </li>
      </ul>

      <ul class="pull-right nav">
        <% if can? :manage, Resque %>
          <li>
            <%#= link_to resque_path, target: '_blank' do %>
            <%= link_to '/admin/resque', target: '_blank' do %>
              <i class="icon-code-fork"></i>
              <%= t 'layouts.application.background_jobs' %>
            <% end %>
          </li>
        <% end %>

        <li>
          <%=  link_to edit_user_registration_path, id: 'my_account' do %>
            <i class="icon-user"></i>
            <%= t 'layouts.application.my_account' %>
          <% end %>
        </li>

        <li class="divider-vertical"></li>

        <li>
          <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
            <%= t 'layouts.application.logout' %>
            <i class="icon-signout"></i>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
<% end %>