<% if user_signed_in? %>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="icon-reorder"></i>
      </button>
      <%= link_to read_path, class: 'navbar-brand' do %>
        <%= image_tag asset_path('feed18x18.png'), alt: 'feedbunch' %>
        Feedbunch (BETA)
      <% end %>
    </div>

    <div class="collapse navbar-collapse navbar-collapse">

      <ul class="nav navbar-nav" ng-cloak>

        <li ng-show="show_feed_buttons">
          <a id="add-subscription"
             data-target="#subscribe-feed-popup"
             data-toggle="modal">
            <i class="icon-plus"></i> <%= t 'feeds.index.subscribe_button' %>
          </a>
        </li>

        <li ng-show="show_feed_buttons && !show_read">
          <a id="show-read-feeds"
              ng-click="load_feeds(true)">
            <i class="icon-eye-open"></i> <%= t 'feeds.index.show_read_feeds_button' %>
          </a>
        </li>

        <li ng-show="show_feed_buttons && show_read">
          <a id="hide-read-feeds"
             ng-click="load_feeds(false)">
            <i class="icon-eye-close"></i> <%= t 'feeds.index.hide_read_feeds_button' %>
          </a>
        </li>

        <li id="entries-dropdown" class="dropdown" ng-show="current_feed">

          <a id="entries-management"
             class="dropdown-toggle"
             data-toggle="dropdown">
            <i class="icon-rss"></i> <%= t 'feeds.index.entries' %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu text-left">

            <li>
              <a id="refresh-feed" ng-click="refresh_feed()">
                <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
              </a>
            </li>

            <li>
              <a id="read-all-button" ng-click="mark_all_read()">
                <i class="icon-check"></i> <%= t 'feeds.index.read-all' %>
              </a>
            </li>

            <li>
              <a id="show-read-button" ng-click="read_all_entries()">
                <i class="icon-eye-open"></i> <%= t 'feeds.index.show_read' %>
              </a>
            </li>

          </ul>
        </li>

        <li id="folder-management-dropdown" class="dropdown" ng-show="current_feed">

          <a id="folder-management"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
            <i class="icon-folder-open"></i> <%= t 'feeds.index.folder_management' %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu text-left">

            <li ng-repeat="folder in folders | orderBy:'title'">
              <a data-folder-id="{{folder.id}}"
                 ng-click="move_to_folder(folder)">
                <i class="icon-ok" ng-show="current_feed.folder_id==folder.id"></i>&nbsp;
                {{folder.title}}
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a data-folder-id="new"
                 data-toggle="modal"
                 data-target="#new-folder-popup">
                <i class="icon-plus text-muted"></i>&nbsp;
                <%= t 'feeds.index.folder_new' %>
              </a>
            </li>

            <li>
              <a data-folder-id="none"
                 ng-click="remove_from_folder()">
                <i class="icon-ban-circle text-muted" ng-hide="current_feed.folder_id=='none'"></i>
                <i class="icon-ok" ng-show="current_feed.folder_id=='none'"></i>&nbsp;
                <%= t 'feeds.index.folder_none' %>
              </a>
            </li>

          </ul>
        </li>

        <li ng-show="current_feed">
          <a id="unsubscribe-feed"
             data-toggle="modal"
             data-target="#unsubscribe-feed-popup">
            <i class="icon-remove-sign"></i> <%= t 'feeds.index.unsubscribe' %>
          </a>
        </li>

      </ul>

      <% if current_user %>

        <ul class="nav navbar-nav navbar-right">

          <li id="user-dropdown" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <% if can? :manage, Resque %>
                <li>
                  <%#= link_to resque_path, target: '_blank' do %>
                  <%= link_to '/admin/resque', target: '_blank' do %>
                    <i class="icon-code-fork"></i>
                    <%= t 'layouts.application.background_jobs' %>
                  <% end %>
                </li>
              <% end %>

              <li>
                <%=  link_to read_path, id: 'read_feeds' do %>
                  <i class="icon-rss"></i>
                  <%= t 'layouts.application.read_feeds' %>
                <% end %>
              </li>

              <%# Show an "import subscriptions" link only if the user has not a currently running import %>

              <li ng-hide="import_status=='RUNNING'">
                <a id="nav-data-import"
                   data-toggle="modal"
                   data-target="#data-import-popup">

                  <i class="icon-magic"></i>

                  <%= t 'layouts.application.import' %>
                </a>
              </li>

              <li>
                <%=  link_to edit_user_registration_path, id: 'my_account' do %>
                  <i class="icon-gear"></i>
                  <%= t 'layouts.application.my_account' %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
                  <i class="icon-signout"></i>
                  <%= t 'layouts.application.logout' %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>

    </div>

  </div>

<% end %>