<% if user_signed_in? %>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="icon-reorder"></i>
      </button>
      <%= link_to 'Feedbunch (BETA)', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to feeds_path, id: 'feeds' do %>
            <i class="icon-rss"></i>
            <%= t 'layouts.application.my_feeds' %>
          <% end %>
        </li>

        <%# Show an "import subscriptions" link only if the user has not run an import, or if
         his last import finished with an error %>
        <%
          data_import = current_user.try :data_import
          status = data_import.try :status
        %>
        <% if data_import.blank? || status==DataImport::ERROR %>
          <li>
            <a id="nav-data-import"
               data-toggle="modal"
               data-target="#data-import-popup">

              <i class="icon-magic"></i>

              <%= t 'layouts.application.import' %>
            </a>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if can? :manage, Resque %>
          <li>
            <%#= link_to resque_path, target: '_blank' do %>
            <%= link_to '/admin/resque', target: '_blank' do %>
              <i class="icon-code-fork"></i>
              <%= t 'layouts.application.background_jobs' %>
            <% end %>
          </li>
        <% end %>

        <li>
          <%=  link_to edit_user_registration_path, id: 'my_account' do %>
            <i class="icon-user"></i>
            <%= t 'layouts.application.my_account' %>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
            <%= t 'layouts.application.logout' %>
            <i class="icon-signout"></i>
          <% end %>
        </li>
      </ul>

    </div>

  </div>

<% end %>