<% if user_signed_in? %>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">

      <button type="button"
              class="navbar-toggle navbar-toggle-right"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <i class="fa fa-bars fa-lg"></i>
      </button>

      <button type="button"
              id="toggle-sidebar-visible"
              class="navbar-toggle pull-left navbar-toggle-left"
              ng-click="toggle_sidebar_visible()"
              ng-show="sidebar_visible"
              ng-cloak>
        <i class="fa fa-rss fa-lg"></i>
        <small><i class="fa fa-chevron-right"></i></small>
      </button>

      <button type="button"
              id="toggle-sidebar-hidden"
              class="navbar-toggle pull-left navbar-toggle-left"
              ng-click="toggle_sidebar_visible()"
              ng-hide="sidebar_visible"
              ng-cloak>
        <small><i class="fa fa-chevron-left"></i></small>
        <i class="fa fa-folder-open fa-lg"></i>
      </button>

      <%= link_to read_path, class: 'navbar-brand' do %>
        <%= image_tag asset_path('feed18x18.png'), alt: 'feedbunch' %>
        Feedbunch (BETA)
      <% end %>

    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav" ng-cloak>

        <li ng-show="show_feed_buttons && !show_read"
            class="hint--right hint--rounded"
            data-hint="<%= t 'feeds.index.show_read_button_tooltip' %>">
          <a id="show-read"
              ng-click="show_read_feeds_entries()">
            <i class="fa fa-eye"></i> <%= t 'feeds.index.show_read_button' %>
          </a>
        </li>

        <li ng-show="show_feed_buttons && show_read"
            class="hint--right hint--rounded"
            data-hint="<%= t 'feeds.index.hide_read_button_tooltip' %>">
          <a id="hide-read"
             ng-click="hide_read_feeds_entries()">
            <i class="fa fa-eye-slash"></i> <%= t 'feeds.index.hide_read_button' %>
          </a>
        </li>

        <li id="feed-dropdown"
            class="dropdown hint--right hint--rounded"
            ng-show="show_feed_buttons"
            data-hint="<%= t 'feeds.index.feed_menu_button_tooltip' %>">

          <a id="feeds-management"
             class="dropdown-toggle"
             data-toggle="dropdown">
            <i class="fa fa-rss"></i> <%= t 'feeds.index.feed_menu_button' %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu text-left">

            <li>
              <a id="add-subscription"
                 data-target="#subscribe-feed-popup"
                 data-toggle="modal">
                <i class="fa fa-plus"></i> <%= t 'feeds.index.subscribe_button' %>
              </a>
            </li>

            <li ng-show="current_feed">
              <a id="refresh-feed"
                 ng-click="refresh_feed()">
                <i class="fa fa-repeat"></i> <%= t 'feeds.index.refresh' %>
              </a>
            </li>

            <li ng-show="current_feed">
              <a id="unsubscribe-feed"
                 data-toggle="modal"
                 data-target="#unsubscribe-feed-popup">
                <i class="fa fa-times"></i> <%= t 'feeds.index.unsubscribe' %>
              </a>
            </li>

          </ul>
        </li>

        <li ng-show="show_feed_buttons && (current_feed || current_folder)"
            class="hint--right hint--rounded"
            data-hint="<%= t 'feeds.index.read_all_button_tooltip' %>">
          <a id="read-all-button" ng-click="mark_all_read()">
            <i class="fa fa-check-square-o"></i> <%= t 'feeds.index.read_all_button' %>
          </a>
        </li>

        <li id="folder-management-dropdown"
            class="dropdown hint--right hint--rounded"
            ng-show="current_feed"
            data-hint="<%= t 'feeds.index.folder_button_tooltip' %>">

          <a id="folder-management"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
            <i class="fa fa-folder-open"></i> <%= t 'feeds.index.folder_button' %>
            <b class="caret"></b>
          </a>

          <ul id="folder-dropdown-content" class="dropdown-menu text-left">

            <li ng-repeat="folder in folders | orderBy:'title'">
              <a data-folder-id="{{folder.id}}"
                 ng-click="move_to_folder(folder)">
                <i class="fa fa-check" ng-show="get_current_feed().folder_id==folder.id"></i>&nbsp;
                <span class="dropdown-folder-title">{{folder.title}}</span>
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a data-folder-id="new"
                 data-toggle="modal"
                 data-target="#new-folder-popup">
                <i class="fa fa-plus text-muted"></i>&nbsp;
                <%= t 'feeds.index.folder_new' %>
              </a>
            </li>

            <li>
              <a data-folder-id="none"
                 ng-click="remove_from_folder()">
                <i class="fa fa-ban text-muted" ng-hide="get_current_feed().folder_id=='none'"></i>
                <i class="fa fa-check" ng-show="get_current_feed().folder_id=='none'"></i>&nbsp;
                <%= t 'feeds.index.folder_none' %>
              </a>
            </li>

          </ul>
        </li>

      </ul>

      <% if current_user %>

        <ul class="nav navbar-nav navbar-right">

          <li id="user-dropdown" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span id="user-name"><%= current_user.name %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <% if can? :manage, Resque %>
                <li>
                  <%#= link_to resque_path, target: '_blank' do %>
                  <%= link_to '/admin/resque', target: '_blank' do %>
                    <i class="fa fa-code-fork"></i>
                    <%= t 'layouts.application.background_jobs' %>
                  <% end %>
                </li>
              <% end %>

              <li>
                <%=  link_to read_path, id: 'read_feeds' do %>
                  <i class="fa fa-rss"></i>
                  <%= t 'layouts.application.read_feeds' %>
                <% end %>
              </li>

              <%# Show an "import subscriptions" link only if the user has not a currently running import %>

              <li ng-hide="import_status=='RUNNING'">
                <a id="nav-data-import"
                   data-toggle="modal"
                   data-target="#data-import-popup">

                  <i class="fa fa-magic"></i>

                  <%= t 'layouts.application.import' %>
                </a>
              </li>

              <li>
                <%=  link_to edit_user_registration_path, id: 'my_account' do %>
                  <i class="fa fa-gear"></i>
                  <%= t 'layouts.application.my_account' %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
                  <i class="fa fa-sign-out"></i>
                  <%= t 'layouts.application.logout' %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>

    </div>

  </div>

<% end %>