<!DOCTYPE html>
<html>
<head>
  <title>Openreader</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to 'Openreader', root_path, class: 'brand' %>
      <ul class="nav">
        <li>
          <%= link_to feeds_path, id: 'feeds' do %>
            <i class="icon-rss"></i>
            <%= t '.my_feeds' %>
          <% end %>
        </li>
      </ul>
      <ul class="pull-right nav">
        <li>
          <%=  link_to edit_user_registration_path, id: 'my_account' do %>
            <i class="icon-user"></i>
            <%= t '.my_account' %>
          <% end %>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete, id: 'sign_out' do %>
            <%= t '.logout' %>
            <i class="icon-signout"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% if  notice.present? %>
  <div class="row-fluid">
    <div class="span10 offset1 alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<% if  alert.present? %>
  <div class="row-fluid">
    <div class="span10 offset1 alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
