<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body ng-controller="FeedbunchCtrl">

<%= render 'layouts/navbar' %>

<%= render 'data_imports/popups/import_subscriptions_form' %>

<div class="row top-alert" ng-cloak>
  <div class="col-md-8 col-md-offset-2 text-center">

    <%= render 'layouts/alerts' %>

  </div>
</div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
