<!DOCTYPE html>
<html>
<head>
  <title>Feedbunch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar/navbar' %>

<%= render 'data_imports/popups/import_subscriptions_form' %>

<div class="row top-alert">
  <div class="col-md-10 col-md-offset-1 text-center">

    <%= render 'layouts/alerts' %>

  </div>
</div>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
