<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body
  <% if user_signed_in? %>
    class="navbar-visible"
  <% end %>
    ng-controller="FeedbunchCtrl"
    ng-swipe-left="set_sidebar_visible(false)"
    ng-swipe-right="set_sidebar_visible(true)">

<%= render 'layouts/cookies_warning' %>

<%= render 'layouts/navbar' %>

<%= render 'layouts/popups/import_subscriptions_form' %>

<%= yield %>

<%= render 'layouts/footer_js' %>

</body>
</html>
