<!DOCTYPE html>
<html>
<head>
  <title>Feedbunch</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= render 'subscriptions_data/popups/import_subscriptions_form' %>

<div class="span8 offset2 top-alert">

  <%= render 'layouts/alerts' %>

</div>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
