<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body class="navbar-visible"
      ng-controller="FeedbunchCtrl"
      ng-swipe-left="set_sidebar_visible(false)"
      ng-swipe-right="set_sidebar_visible(true)">

<div class="container-fluid">

  <%= render 'layouts/navbar/navbar' %>

  <%= render 'layouts/popups/import_subscriptions_form' %>
  <%= render 'layouts/popups/help_feedback' %>
  <%= render 'layouts/popups/help_kb_shortcuts' %>

  <%= yield %>

  <%= render 'layouts/footer_js' %>

</div>

</body>
</html>
