<!DOCTYPE html>
<html>
<head>
  <title>Openreader</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if  notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if  alert.present? %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
