<!DOCTYPE html>
<html>
<head>
  <title>Openreader</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= render 'layouts/alerts' %>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
