<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body
  <% if user_signed_in? %>
    class="navbar-visible"
  <% end %>
    ng-controller="DeviseCtrl">

<%= render 'layouts/navbar' %>

<div class="row top-alert">
  <div class="col-md-12 text-center" ng-cloak>

    <%= render 'layouts/alerts' %>
    <%= render 'devise/alerts' %>

  </div>
</div>

<div class="page-header container">
  <div class="row">

    <div class="col-md-10">

      <h1>

        <%=
            link_to root_url(locale: I18n.locale) do
              image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
            end
        %>

        <%= yield :heading %>
      </h1>

    </div>

    <div class="col-md-2">

      <%= render 'layouts/locale_dropdown' %>

    </div>

  </div>
</div>

<br>

<%= yield %>

<%= render 'layouts/footer' %>
<%= render 'layouts/footer_js' %>

</body>
</html>
