<!DOCTYPE html>
<html>
<head>
  <title>Openreader</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row-fluid page-header">
  <div class="span10 offset1">
    <h1>

      <a href="<%= root_url %>"><img src="/assets/feed128x128.png"></a>

      <%= yield :heading %>
    </h1>
  </div>
</div>

<% if  notice.present? %>
  <div class="row-fluid">
    <div class="span10 offset1 alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<% if  alert.present? %>
  <div class="row-fluid">
    <div class="span10 offset1 alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>

<% if  devise_error_messages!.present? %>
  <div class="row-fluid">
    <div class="span10 offset1 alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
        <% resource.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span2 offset9">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-flag"></i>
        <%= t 'devise.views.language' %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
          <%= link_to locale: 'en' do %>
            <%= image_tag '/assets/flags/us.png' %>
            English
          <% end %>
        </li>
        <li>
          <%= link_to locale: 'es' do %>
            <%= image_tag '/assets/flags/es.png' %>
            Español
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
