<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body
  <% if user_signed_in? %>
    class="navbar-visible"
  <% end %>
    ng-controller="DeviseCtrl">

<%= render 'layouts/navbar' %>

<div class="row top-alert text-center" ng-cloak>
  <div class="col-xs-12">

    <%= render 'layouts/alerts' %>
    <%= render 'devise/alerts' %>

  </div>
</div>

<div id="devise-view">
  <div id="devise-locale-dropdown">
    <%= render 'layouts/locale_dropdown' %>
  </div>

  <div class="page-header container">
    <h1>

      <%=
          link_to root_url(locale: I18n.locale) do
            image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
          end
      %>

      <span class="branding">Feedbunch - </span><%= yield :heading %>
    </h1>
  </div>

  <%= yield %>

</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/footer_js' %>

</body>
</html>
