<!DOCTYPE html>
<html>

<%= render 'layouts/header' %>

<body>

<%= render 'layouts/navbar/navbar' %>

<%= render 'data_imports/popups/import_subscriptions_form' %>

<div class="row top-alert" ng-cloak>
  <div class="col-md-10 col-md-offset-1 text-center">

    <%= render 'layouts/alerts' %>
    <%= render 'devise/alerts' %>

  </div>
</div>

<div class="page-header container">
  <h1>

    <%=
        link_to root_url do
          image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
        end
    %>

    <%= yield :heading %>
  </h1>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-9">
    <div class="dropdown">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-flag"></i>
        <%= t 'devise.views.language' %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu text-left" role="menu" aria-labelledby="dropdownMenu">
        <li>
          <%= link_to url_for(locale: 'en') do %>
            <%= image_tag asset_path('flags/us.png') %>
            English
          <% end %>
        </li>
        <li>
          <%= link_to url_for(locale: 'es') do %>
            <%= image_tag asset_path('flags/es.png') %>
            Español
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
