<!DOCTYPE html>
<html ng-app="feedbunch" class="page-with-bg-image">

<%= render 'layouts/header' %>

<body ng-controller="DeviseCtrl">

<%= render 'layouts/navbar/navbar' %>

<div class="container-fluid">

  <div class="row bottom-alert text-center" ng-cloak>
    <div class="col-xs-12">

      <%= render 'layouts/alerts' %>
      <%= render 'devise/alerts' %>

    </div>
  </div>
</div>

<div id="devise-view" class="container">

  <%= render 'layouts/locale_dropdown' %>

  <div class="jumbotron">
    <div class="page-header">
      <h1>
        <%=
            link_to root_url(locale: I18n.locale), class: 'hidden-xs' do
              image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
            end
        %>
        <span class="branding">Feedbunch - </span><%= yield :heading %>
      </h1>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/social_links' %>

  </div>

</div>
<%= render 'layouts/footer_js' %>

</body>
</html>
