<!DOCTYPE html>
<html>
<head>
  <title>Feedbunch</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= render 'data_imports/popups/import_subscriptions_form' %>

<div class="col-md-8 col-md-offset-2 top-alert">

  <%= render 'layouts/alerts' %>
  <%= render 'devise/alerts' %>

</div>

<div class="row page-header">
  <div class="col-md-10 col-md-offset-1">
    <h1>

      <%=
          link_to root_url do
            image_tag asset_path('feed128x128.png'), alt: 'feedbunch'
          end
      %>

      <%= yield :heading %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-9">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-flag"></i>
        <%= t 'devise.views.language' %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
          <%= link_to url_for(locale: 'en') do %>
            <%= image_tag asset_path('flags/us.png') %>
            English
          <% end %>
        </li>
        <li>
          <%= link_to url_for(locale: 'es') do %>
            <%= image_tag asset_path('flags/es.png') %>
            Español
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
