<!DOCTYPE html>
<html ng-app="feedbunch" class="page-with-bg-image">

<%= render 'layouts/header' %>

<body
    <% if user_signed_in? %>
      class="navbar-visible"
    <% end %>
      ng-controller="PagesCtrl">

<%= render 'layouts/navbar/navbar' %>

<div class="row bottom-alert text-center" ng-cloak>
  <div class="col-xs-12">

    <%= render 'layouts/alerts' %>

  </div>
</div>

<%= render 'layouts/popups/import_subscriptions_form' %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= render 'layouts/footer_js' %>

</body>
</html>
