<!DOCTYPE html>
<html ng-app="feedbunch" class="page-with-bg-image">

<%= render 'layouts/header' %>

<body ng-controller="PagesCtrl">

<%= render 'pages/popups/demo_info' %>

<div class="container-fluid">
  <div class="row bottom-alert text-center" ng-cloak>
    <div class="col-xs-12">

      <%= render 'layouts/alerts' %>

    </div>
  </div>
</div>

<%= yield %>

<%= render 'layouts/footer' %>
<%= render 'layouts/footer_js' %>

</body>
</html>
