<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body class="navbar-visible"
    ng-controller="DeviseCtrl">

<%= render 'layouts/navbar/navbar' %>

<div class="container-fluid">

  <div class="row bottom-alert">
    <div class="col-md-12 text-center" ng-cloak>

      <%= render 'layouts/alerts' %>
      <%= render 'devise/alerts' %>

    </div>
  </div>

  <%= render 'layouts/popups/import_subscriptions_form' %>
  <%= render 'layouts/popups/help_feedback' %>
  <%= render 'layouts/popups/help_kb_shortcuts' %>
  <%= render 'devise/popups/profile_delete_form' %>
  <%= render 'devise/popups/invite_friend_form' %>

  <%= yield %>

</div>

<%= render 'layouts/footer_js' %>

</body>
</html>
