<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body
  <% if user_signed_in? %>
    class="navbar-visible"
  <% end %>
    ng-controller="DeviseCtrl">

<%= render 'layouts/navbar' %>

<div class="row top-alert">
  <div class="col-md-12 text-center" ng-cloak>

    <%= render 'layouts/alerts' %>
    <%= render 'devise/alerts' %>

  </div>
</div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
