<!DOCTYPE html>
<html ng-app="feedbunch">

<%= render 'layouts/header' %>

<body
  <% if user_signed_in? %>
    class="navbar-visible"
  <% end %>
    ng-controller="DeviseCtrl">

<%= render 'layouts/cookies_warning' %>

<%= render 'layouts/navbar/navbar' %>

<div class="row top-alert">
  <div class="col-md-12 text-center" ng-cloak>

    <%= render 'layouts/alerts' %>
    <%= render 'devise/alerts' %>

  </div>
</div>

<%= render 'layouts/popups/import_subscriptions_form' %>
<%= render 'devise/popups/profile_delete_form' %>
<%= render 'devise/popups/invite_friend_form' %>

<%= yield %>

<%= render 'layouts/footer_js' %>

</body>
</html>
